/*
$colorLogo: #EA869A;
$colorRosaIntermedio: #FFCBD7;
$colorRosaClaro: #F8EBEC;
$colorFondoRosa:#FFF7F7;
$colorFondoCremita: #fbf9f7;
$colorMarron: #341E23;
*/

$colores: (
    logo: #EA869A,
    rosaIntermedio: #FFCBD7,
    rosaClaro: #F8EBEC,
    fondoRosa: #FFF7F7,
    fondoCremita: #fbf9f7,
    texto: #341E23,
);

