.container-contact{
    .container-contact-form{
        display: flex;
        justify-content: center;
        padding: 2rem;
        .contact-form{
            display: flex;
            flex-direction: column;
            .contact-form-div{
                display: flex;
                justify-content: center;
                .contact-form__input, .contact-form__textarea{
                    border: map-get($map: $colores, $key: "rosaClaro") solid 0.1em;
                    background-color: transparent;
                    color: map-get($map: $colores, $key: "texto");
                    margin: 1em;
                    padding: 1em;
                    font-size: 16px;
                    font-family: "montserrat", "roboto", sans-serif;
                    display: block;
                    outline: none;
                    border-radius: 0.3rem;
                }
                .contact-form__textarea{
                    overflow: auto;
                    resize: none;
                }
                .contact-form__input:focus, .contact-form__textarea:focus{
                    border:#fbdbde solid 0.1em;
                }
                
                .contact-form__input:hover, .contact-form__textarea:hover{
                    border:#fbdbde solid 0.1em;
                }
                
                .contact-form__input::placeholder, .contact-form__textarea::placeholder{
                    color:#341E23b4;
                }
            }
            .contact-form__submit{
                @extend .filter__ul-li-a;
                border: none;
                font-size: 16px;
                text-align: center;
                align-self: center;
            }
        }
    }
}

.container-contact-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    align-items: center;
    .container-contact-data__location-img{
        border: map-get($map: $colores, $key: "logo") solid .1rem;
        margin: 1rem 0;
    }
    .container-contact-data__socialmedia{
        margin: 2rem 0;
        p{
            margin-top: 2rem;
            span{
                @include resaltado-bajo;
            }
        } 
        .material-icons-round{
            vertical-align: middle;
        }
        ul li{
            display: inline-block;
            margin: 2rem 1rem;
            img{
                width: 1.5rem;
                vertical-align: middle;
            }
        }
    }
}

/*-----------   MOBILE   ------------*/

@media screen and (min-width: 320px) {     

    .contact-form{
        width: 100%;
        padding: 2rem 0;
        background: linear-gradient(to bottom, #fce0e6, #dfb0b9);
        box-shadow: .1rem .1rem .3em .1rem #c27b8983;
        justify-content: center;
        border-radius: 1.5rem;
        .contact-form-div{
            flex-direction: column;
            .contact-form__input{
                width: 90%;
                height: .6rem;
            }
            .contact-form__textarea{
                height: 15rem;
                width: 90%;
            }
        }
        .contact-form__submit{
            width: 10em;
        }
    }

    .container-contact-data{
        margin: 1rem;
        width: 90%;
        .container-contact-data__location{
            width: 90%;
            // img{
            //     width: 100%;
            // }
            #map{
                height: 500px;
                width: 100%;
            }
        }
        .container-contact-data__socialmedia{
           margin: 0;
           width: 100%;
        }
    }
}

/*-----------   ESCRITORIO   ------------*/

@media screen and (min-width: 1024px) {
        
    .contact-form{
        width: 70%;
        padding: 4rem 2rem;
        background: linear-gradient(to right, #fce0e6, #dfb0b9);
        box-shadow: .1rem .1rem 1rem .1rem #c27b8983;
        justify-content: center;
        border-radius: 3rem;
        transition: 1s;
        &:hover{
            width: 80%;
        }
        .contact-form-div{
            flex-direction: row;
            .contact-form-div-input{
                @include flex (flex, column, wrap, space-between);
                .contact-form__input{
                    width: 90%;
                    transition: .5s;
                    &:hover{
                        width: 100%;
                    }
                }
            }
            .contact-form__textarea{
                width: 90%;
                height: 90%;
                transition: .5s;
                    &:hover{
                        width: 100%;
                    }
            }
        }
        .contact-form__submit{
            width: 18em;
        }
    }

    .container-contact-data{
        width: 95%;

        .container-contact-data__location{
            width: 95%;
            // img{
            //     width: 40%;
            // }
            #map{
                height: 500px;
                width: 100%;
            }
        }
    }
}