#header{
    background-color: map-get($map: $colores, $key: "rosaIntermedio");
    height: 6em;
    @include flex (flex, row, wrap, space-between);
    width: 100%;
    .header-left {
        .logo-index {
            img{
            width: 6rem;
            object-fit: cover;
            object-position: center center;
            }
        }
        .nav__ul {
            height: 95px;
        }
        .nav__ul-li-a{
            color: map-get($map: $colores, $key: "rosaClaro");
            text-decoration: none;
            margin: 0 .5em;
            padding: 10px 15px;
            vertical-align: middle;
            text-transform: uppercase;
            position: relative;
            height: 95px;
            display: flex;
            align-items: center;
        }
    }
    .header-right {
        .nav__ul {
            height: 95px;
            display: flex;
            align-items: center;
            li button{
                background-color: transparent;
                border: none;
            }
            li span{
                font-size: 2em;
            }
            .btn-primary {
                --bs-btn-color: none;
                --bs-btn-bg: none;
                --bs-btn-border-color: none;
                --bs-btn-hover-color: none;
                --bs-btn-hover-bg: none;
                --bs-btn-hover-border-color: none;
                --bs-btn-focus-shadow-rgb: none;
                --bs-btn-active-color: none;
                --bs-btn-active-bg: none;
                --bs-btn-active-border-color: none;
                --bs-btn-active-shadow: none;
                --bs-btn-disabled-color: none;
                --bs-btn-disabled-bg: none;
                --bs-btn-disabled-border-color:none;
            }
        }
        .nav__ul-li-a{
            color: map-get($map: $colores, $key: "rosaClaro");
            text-decoration: none;
            margin: 0 .5em;
            vertical-align: middle;
            text-transform: uppercase;
            position: relative;
            height: 95px;
            display: flex;
            align-items: center;
        }
        input{
            &[type="search"] {
                padding: 0 .5em;
                border: none;
                border-bottom: solid .1em map-get($map: $colores, $key: "rosaClaro");
                background-color: transparent;
                color: map-get($map: $colores, $key: "rosaClaro");
                &:focus{
                    outline: none;
                    border: none;
                    border-bottom: solid .1em map-get($map: $colores, $key: "rosaClaro");
                }
            }
            &::placeholder{
                color: map-get($map: $colores, $key: "texto");
            }
        }
        .material-icons-round:hover{
            color: map-get($map: $colores, $key: "rosaClaro");
        }
    }
    .modal-content{
        width:150%;
        .modal-footer{
            .btn-primary{
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    
}

.nav__ul-li-a{
    &::after{
        content: "";
        width: 0;
        height: 4px;
        background-color: map-get($map: $colores, $key: "rosaClaro");
        position: absolute;
        bottom: 25px;
        right: 50%;
        transition: 0.7s;
        will-change: width;
    }
}

.nav__ul-li-a:hover::after{
    width: 100%;
    right: 0;
}
.nav__ul-li-a-active{
    position: relative;
}

.nav__ul-li-a-active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: map-get($map: $colores, $key: "rosaClaro");
    bottom: 25px;
    left: 0;
}

.nav__ul-li-submenu a{
    color: map-get($map: $colores, $key: "texto");
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

ul.nav__ul{
    .nav__ul-li-shop{
        &:hover{
            .nav__ul-li-container-submenu{
                display: flex;
                position: absolute;
                top: 65px;
                z-index: 1;
                background-color:#ffcbd7f6;
                padding: 1rem 2rem 2rem 0;
                .linea-submenu{
                    position: absolute;
                    width: 95%;
                    top: 2rem;
                    left: 0;
                    border: 0;
                    border-bottom:map-get($map: $colores, $key: "rosaClaro") solid .2rem;
                    z-index: 20;
                    opacity: 1;
                }
            }
        }
        .nav__ul-li-container-submenu{
            display: none;
        } 
    }
}

.nav__ul-li-submenu > li{
    margin-right: 2rem;
}

.nav__ul-li-submenu li:first-child{
    padding-bottom: 1.5em;
    text-transform: uppercase;
}

.home-barra{
    text-align: center;
    padding: 0.5em;
    background-color: map-get($map: $colores, $key: "logo");
    text-transform: uppercase;
    margin: 0%;
}


/*-----------   MOBILE   ------------*/


@media screen and (min-width: 320px) {

    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display:block;
    }

    .navbar{
        padding: 0;
        margin: 0;
        --bs-navbar-brand-padding-y: 0;
        .container-fluid{
            width: 100%;
            .navbar-toggler{
                border: none;
            }
            .offcanvas{
                background-color: map-get($map: $colores, $key: "rosaIntermedio");
                --bs-offcanvas-width: 350px;
            }
        }
    }

    .bg-light{
        --bs-bg-opacity:1;
        background-color: map-get($map: $colores, $key: "rosaIntermedio") !important;
    }

    .fixed-top{
        position:fixed;
        top: 0;
    }

    .logo-index {
        img{
            width: 6rem;
            object-fit: cover;
            object-position: center center;
            margin: 0;
        }
    }
    
    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
        color: map-get($map: $colores, $key: "texto");
    }
    .btn-close{
        color: map-get($map: $colores, $key: "logo");
        opacity: 1;
    }
    .iconos-menu-burger span{
        font-size: 30px;
        margin-right: .5em;
    }
    .btn-outline-success{
        color: map-get($map: $colores, $key: "rosaClaro");
        padding: .3em;
        width: 80%;
        border: none;
        border-bottom: map-get($map: $colores, $key: "rosaClaro") 0.2em solid;
        border-radius: 0;
        text-align: left;
        outline: none;
        &:hover{
            background-color: transparent;
            color: map-get($map: $colores, $key: "rosaClaro");
            border: none;
            border-bottom: map-get($map: $colores, $key: "rosaClaro") 0.2em solid;
            outline: none;
        }
    }

    .dropdown-menu{
        background-color: transparent;
        border: none;
        margin-top: 0;
        padding-top: 0;
    }

    .nav-link{
        border-bottom: solid .1em #341e2326;
        margin-top: .5em;
    }

    .nav__ul{
        display: none;
    }

    .home-barra{
        font-size: 11px;
        padding-top: 1em;
    }

}

/*-----------   ESCRITORIO   ------------*/

@media screen and (min-width: 1024px) {

    .nav-mobile{
        display: none;
    }

    .nav-desktop{
        display: block;
        width: 100%;
        .nav__ul {
            @include flex (flex, row, wrap, center);
            align-items: center;
        }
    }
    
    .logo-index img{
        margin-left: 1rem;
    }    

    .header-right{
        display: flex;
        justify-content:end;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0%;
        nav ul li a{
            margin: 0 1rem;
            padding: 0%;
            padding-bottom: 10px;
        }
    }

    .home-barra{
        font-size: 14px;
        margin: 0;
        padding-top: .5em;
    }

}