/*
$colorLogo: #EA869A;
$colorRosaIntermedio: #FFCBD7;
$colorRosaClaro: #F8EBEC;
$colorFondoRosa:#FFF7F7;
$colorFondoCremita: #fbf9f7;
$colorMarron: #341E23;
*/

$tamanoTitulo: 5em;

$colores: (
    logo: #EA869A,
    rosaIntermedio: #FFCBD7,
    rosaClaro: #F8EBEC,
    fondoRosa: #FFF7F7,
    fondoCremita: #fbf9f7,
    texto: #341E23,
);

@mixin flex ($flex, $direction, $wrap, $justify){
    display: $flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
}

@mixin resaltado-bajo{
    padding: 0px 5px;
    background: linear-gradient(0deg, map-get($map: $colores, $key: "logo") 40%, transparent 40%);
}