@import "colores";
@import "index";

@mixin flex ($flex, $direction, $wrap, $justify){
    display: $flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
}


/*-----------   FUENTE LOCAL  ------------*/

@font-face{
    font-family: "Brittany Signature";
    src: url(BrittanySignature.ttf);
}

/*-----------   UNIVERSAL   ------------*/

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*-----------   GENERALES   ------------*/

body{
    background-color: map-get($map: $colores, $key: "fondoCremita");
    font-family: "montserrat", "roboto", sans-serif;
    color: map-get($map: $colores, $key: "texto");
}

.h1{
    font-family: "brittany signature";
    color: map-get($map: $colores, $key: "logo");
}

.h1-none{
    display: none;
}

.material-icons-round{
    color: map-get($map: $colores, $key: "logo");    
}

.home-info__article span{
    font-size: 3em;
}

.resaltado{
    padding: 0px 5px;
    background: linear-gradient(0deg, map-get($map: $colores, $key: "logo") 40%, transparent 40%);
} 


/*-----------   HEADER   ------------*/

#header{
    background-color: map-get($map: $colores, $key: "rosaIntermedio");
    height: 6em;
    @include flex (flex, row, wrap, space-between);
    width: 100%;
}


.logo-index img{
    width: 6rem;
    object-fit: cover;
    object-position: center center;
}


.header-left .nav__ul-li-a{
    color: map-get($map: $colores, $key: "rosaClaro");
    text-decoration: none;
    margin: 0 .5em;
    padding: 10px 15px;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
}

.nav__ul-li-a:hover{
    color: map-get($map: $colores, $key: "rosaClaro");
}

.nav__ul-li-a::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: map-get($map: $colores, $key: "rosaClaro");
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: 0.7s;
    will-change: width;
}

.nav__ul-li-a:hover::after{
    width: 100%;
    right: 0;
}

.nav__ul-li-a-active{
    position: relative;
}

.nav__ul-li-a-active a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: map-get($map: $colores, $key: "rosaClaro");
    bottom: 0;
    left: 0;
}

.nav__ul-li-submenu a{
    color: map-get($map: $colores, $key: "texto");
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.nav__ul-li-container-submenu{
    display: none;
} 

.nav__ul-li.nav__ul-li-shop:hover .nav__ul-li-container-submenu 
{
    display: flex;
    position: absolute;
    top: 65px;
    z-index: 1;
    background-color:#ffcbd7f6;
    padding: 1rem 2rem 2rem 0;
}

.nav__ul-li-shop:hover .linea-submenu{
    position: absolute;
    width: 95%;
    top: 2rem;
    left: 0;
    border: 0;
    border-bottom:map-get($map: $colores, $key: "rosaClaro") solid .2rem;
    z-index: 20;
}

.nav__ul-li-submenu > li{
    margin-right: 2rem;
}

.nav__ul-li-submenu li:first-child{
    padding-bottom: 1.5em;
    text-transform: uppercase;
}


#header input{
    padding: 1em;
    border: none;
    background-color: transparent;
    color: map-get($map: $colores, $key: "rosaClaro");
    display: none;
}

.nav__ul-li span{
    font-size: 2em;
}

.header-right .material-icons-round:hover{
    color: map-get($map: $colores, $key: "rosaClaro");
}

.home-barra{
    text-align: center;
    padding: 0.5em;
    background-color: map-get($map: $colores, $key: "logo");
    text-transform: uppercase;
    margin: 0%;
}



/*-----------   FOOTER   ------------*/

.footer{
    background-color: map-get($map: $colores, $key: "rosaIntermedio");
    padding: 1em 5em;
    color: map-get($map: $colores, $key: "rosaClaro");
    .footer__ul-li-a{
        color: map-get($map: $colores, $key: "rosaClaro");
        text-decoration: none;
    }
}

.footer__ul-contacto-redes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    img{
        width: 1.4rem;
    }
}

.footer-copyright{
    background-color: map-get($map: $colores, $key: "logo");
    padding: 0.5em;
    font-size: 12px;
    text-align: center;
    span{
        color: map-get($map: $colores, $key: "texto");
        font-size: 16px;
    }
}

/*-----------   SHOP   ------------*/


.filter__h3{
    margin-top: 1.5rem;
    margin-left: 3rem;
}

.filter__ul-li{
    display: inline;   
}

.filter__ul-li-a{
    color:map-get($map: $colores, $key: "logo");
    background-color: map-get($map: $colores, $key: "rosaClaro");
    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: .5em 1em;
    transition: .5s;
}

.filter__ul-li-a:hover{
    background-color:map-get($map: $colores, $key: "logo");
    color: map-get($map: $colores, $key: "rosaClaro");
}

.shop-categorias__h2{
    font-size: 35px;
    font-family: "brittany signature";
    text-align: start;
    width: 100%;
    margin: 0;
    padding: 0;
}

.shop-categorias__article{
    margin: 1rem 0;
    padding-bottom: 1.5rem;
    text-align: center;
    background-color: map-get($map: $colores, $key: "fondoRosa");
    box-shadow: .1rem .1rem .2rem silver;
}

.shop-categorias__article:hover{
    box-shadow: .1rem .1rem 1rem silver;
}

.shop-categorias__article-figure-figcaption{
    margin: 0.3em;
    line-height: 2em;
}

.shop-categorias{
    text-align: center;
}

.subir-shop{
    color: map-get($map: $colores, $key: "texto");
    text-decoration: none;
    padding: 1em 2em;
    margin: 0;
    display: inline-block;
    position: relative;
}

.subir-shop:hover{
    text-decoration: underline;
    color: map-get($map: $colores, $key: "logo");
}

.shop-categorias span{
    margin-right: .4em;
}



/*-----------   BLOG   ------------*/


.blog-posts__article{
    padding: 1em;
    border: .2em solid map-get($map: $colores, $key: "texto");
    display: flex;
}

.blog-posts__divTexto{
    display: flex;
    flex-direction: column;
}

.blog-posts__article-h4{
    font-size: 24px;
}

.textoOculto{
    display: none;
}

.blog-posts__article-a{
    color: map-get($map: $colores, $key: "texto");
    text-decoration: none;
}

.blog-posts__article-a:hover{
    text-decoration: underline;
    color: map-get($map: $colores, $key: "texto");
}

/* .blog-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "posts entradas"
    "posts productos";
}

.blog-posts{
    grid-area: posts;
}

.blog-entradas{
    grid-area: entradas;
}

.blog-productosRecomendados{
    grid-area: productos;
} */


.blog-grid__h2{
    text-align: center;
    font-size: 20px;
}

.blog-entradas__article-a{
    text-decoration: none;
    color: map-get($map: $colores, $key: "texto");
}

.blog-entradas__article-a:hover{
    text-decoration: underline;
    color: map-get($map: $colores, $key: "texto");
}

.blog-entradas__article-a-figcaption{
    font-size: 13px;
}

.blog-productosRecomendados__article{
    @extend .shop-categorias__article;
    margin: 1rem;
    /*text-align: center;
    background-color: map-get($map: $colores, $key: "fondoRosa");
    box-shadow: .1rem .1rem .2rem silver;*/
}

.blog-productosRecomendados__article:hover{
    box-shadow: .1rem .1rem 1rem silver;
}


.blog-productosRecomendados__article-figure-img{
    width: 100%;
}

.blog-productosRecomendados__article-figure-figcaption{
    margin: 0.3em;
    line-height: 2em;
}

.blog-productosRecomendados__article a{
    color: map-get($map: $colores, $key: "texto");
    text-decoration: none;
}

.blog-productosRecomendados__article a:hover{
    text-decoration: underline;
}

.subir-shop-div{
    text-align: center;
}

.accordion{
    --bs-accordion-border-color:none;
    --bs-accordion-btn-padding-x:none;
    --bs-accordion-active-color:none;
    --bs-accordion-active-bg: none;
}

.accordion-item{
    background-color: transparent;
    color: map-get($map: $colores, $key: "texto");
}

.accordion-button{
    width: 20%;
    margin: 1.5rem;
    background-color: transparent;
}



/*-----------   PREGUNTAS FRECUENTES   ------------*/

.container-preguntas{
    margin: 2em 5em;
}

.div-preguntas{
    display: flex;
    margin-top: 2em;
}

.div-preguntas-icono span{
    font-size: 35px;
}

.div-preguntas-p{
    line-height: 1.5em;
}

.preguntas-importante{
    font-style: italic;
}



/*-----------   CONTACTO   ------------*/


.container-contact-form{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.contact-form__input, .contact-form__textarea{
    border: map-get($map: $colores, $key: "rosaClaro") solid 0.1em;
    background-color: transparent;
    color: map-get($map: $colores, $key: "texto");
    margin: 1em;
    padding: 1em;
    font-size: 16px;
    font-family: "montserrat", "roboto", sans-serif;
    display: block;
    outline: none;
    border-radius: 0.3rem;
}

.contact-form__textarea{
    overflow: auto;
    resize: none;
}

.contact-form__input:focus, .contact-form__textarea:focus{
    border:#fbdbde solid 0.1em;
}

.contact-form__input:hover, .contact-form__textarea:hover{
    border:#fbdbde solid 0.1em;
}

.contact-form__input::placeholder, .contact-form__textarea::placeholder{
    color:#341E23b4;
}

.contact-form__submit{
    background-color: map-get($map: $colores, $key: "rosaClaro");
    color: map-get($map: $colores, $key: "logo");
    border-radius: .7em;
    border: none;
    margin-top: 1.5em;
    padding: .1em;
    font-family: "brittany signature";
    font-size: 20px;
    transition: .5s;
    box-shadow: .1rem .1rem .1rem .1rem rgb(249, 217, 217);
}

.contact-form__submit:hover{
    cursor: pointer;
    background-color:#fbdbde;
}

.contact-form-div{
    display: flex;
    justify-content: center;
}

.contact-form:last-child{
    text-align: center;
} 

.container-contact-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    align-items: center;
}

.container-contact-data__location-img{
    border: map-get($map: $colores, $key: "logo") solid .1rem;
    margin: 1rem 0;
}

.container-contact-data__socialmedia{
    margin: 2rem 0;
}

.container-contact-data__socialmedia p{
    margin-top: 2rem;
} 

.container-contact-data__socialmedia .material-icons-round{
    vertical-align: middle;
}

.container-contact-data__socialmedia-ul-li{
    display: inline-block;
    margin: 2rem 1rem;
}

.container-contact-data__socialmedia-ul-li img{
    width: 1.5rem;
    vertical-align: middle;
}







/*-----------   MOBILE   ------------*/


@media screen and (min-width: 320px) {

    /*-----------   GENERALES   ------------*/ 

    .h1{
        font-size: 46px;
        margin: 1.5rem;
    }

    .subir-shop::after,.subir-shop::before{
        content: "";
        position: absolute;
        width: 6em;
        height: 3px;
        background-color: map-get($map: $colores, $key: "logo");
        top: 2em;
    }
    
    .subir-shop::before{
        left: 3.5em;
    }
    
    .subir-shop::after{
        right: 3.5em;
    }

    .resaltado{
        padding: 0px 5px;
        background: linear-gradient(0deg, map-get($map: $colores, $key: "logo") 40%, transparent 40%);
    } 


    /*-----------   HEADER   ------------*/
 
    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display:
         block;
    }
    .fixed-top{
        position:fixed;
        top: 0;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar{
        padding: 0;
        margin: 0;
        --bs-navbar-brand-padding-y: 0;
    }
    .navbar>.container-fluid{
        width: 100%;
    }
    .bg-light{
        --bs-bg-opacity:1;
        background-color: map-get($map: $colores, $key: "rosaIntermedio") !important;
    }
    .offcanvas{
        background-color: map-get($map: $colores, $key: "rosaIntermedio");
        --bs-offcanvas-width: 350px;
    }
    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
        color: map-get($map: $colores, $key: "texto");
    }
    .btn-close{
        color: map-get($map: $colores, $key: "logo");
        opacity: 1;
    }
    .iconos-menu-burger span{
        font-size: 30px;
        margin-right: .5em;
    }
    .btn-outline-success{
        color: map-get($map: $colores, $key: "rosaClaro");
        padding: .3em;
        width: 80%;
        border: none;
        border-bottom: map-get($map: $colores, $key: "rosaClaro") 0.2em solid;
        border-radius: 0;
        text-align: left;
        outline: none;
    }
    .btn-outline-success:hover{
        background-color: transparent;
        color: map-get($map: $colores, $key: "rosaClaro");
        border: none;
        border-bottom: map-get($map: $colores, $key: "rosaClaro") 0.2em solid;
        outline: none;
    }

    .dropdown-menu{
        background-color: transparent;
        border: none;
        margin-top: 0;
        padding-top: 0;
    }

    .nav-link{
        border-bottom: solid .1em #341e2326;
        margin-top: .5em;
    }

    .nav__ul{
        display: none;
    }

    /*.nav{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto;
    }*/

    /*.logo-index{
        justify-self: center;
    }*/

    .logo-index img{
        margin: 0;
    }

    .home-barra{
        font-size: 11px;
        padding-top: 1em;
    }

    /*-----------  FOOTER   ------------*/

    .footer{
        @include flex (flex, column, wrap, center);
        align-items: center;
        text-align: center;
        padding: 1rem 0;
        ul{
            margin: 1em 0;
            padding-left: 0;
            padding-bottom: 2rem;
            width: 70%;
            border-bottom: map-get($map: $colores, $key: "rosaClaro") solid .15rem;
            &:last-child{
                border: none;
            }
        }
    }

    .footer-copyright{
        @include flex (flex, column, wrap, center);
        align-content: space-around ;
        p{
            padding: .2rem 0;
        }
        span{
            vertical-align: middle;
        }
    }

    /*-----------  SHOP   ------------*/

    .filter__h3{
        font-size: 16px;
        margin-left: 1rem;
    }

    .filter__ul{
        width: 100%;
        margin: 1rem 0;
        padding-left: 0;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    .filter__ul-li{
        margin: 0;
        text-align: center;
    }

    .filter__ul-li-a{
        margin: .2rem;
        display: block;
    }

    /* .shop-categorias__div{
        width: 100%;
    } */

    .shop-categorias__h2{
        margin-left: 1rem;
    }

    .shop-categorias__article{
        width: auto;
        height: 18rem;
        margin: 1rem;
        margin-left: 1rem;
    }
   
    .shop-categorias__article-figure{
        height: 100%;
    }

    .shop-categorias__article-figure-img{
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .shop-categorias__article-figure-figcaption{
        font-size: 12px;
    }



    /*-----------  BLOG   ------------*/

    .h3-subtitulo-blog{
        text-align: center;
        margin: 0;
        font-size: 14px;
    }

    /*.blog-grid{
        display: grid;
        grid-template-areas:
        "entradas"
        "posts"
        "productos";
    }*/
    
    .blog-posts{
        /*grid-area: posts;*/
        width: 100%;
    }
    
    /*.blog-entradas{
        grid-area: entradas;
    }
    
    .blog-productosRecomendados{
        grid-area: productos;
    }*/

    .blog-entradas, .blog-productosRecomendados{
        border: none;
        margin: 1em;
        padding: .5em;
        width: 80%;
    }

    .blog-posts__article{
        flex-direction: column;
        margin: 1em;
        padding: 1em;
        border: .1em solid map-get($map: $colores, $key: "texto");
        display: inline-block;
    }

    .blog-entradas__article-a-figure-img{
        display: none;
    }
    
    .blog-entradas__article{
        border: none;
    }

    .blog-entradas__article-a-figure{
        display: inline-block;
        margin: .3em;
        height: 1em;
        align-items: start;
        border-bottom: #C27B89 solid 0.1em;
    }
    
    .blog-posts__divTexto{
        margin-left: 0;
        display: inline-block;        
    }
    
    .blog-posts__divImg{
        height: 15em;
        margin-bottom: 1em;
    }
    
    .blog-posts__article-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: inline-block;
    }
    
    .blog-posts__article-h4{
        font-size: 16px;
        text-decoration: underline;
    }
    
    .blog-posts__article-p{
        padding: 0;
        margin: 1em 0;
    }

    .blog-grid__h2{
        margin: 0;
        text-align: center;
    }
    
    .blog-productosRecomendados{
        width: 90%;
    }
    
    .blog-productosRecomendados__article{
        width: 100%;
        height: auto;
    }

    .accordion-button{
        width: 50%;
        background-color: transparent;
    }    

     /*-----------  PREGUNTAS FRECUENTES   ------------*/


     .container-preguntas{
        margin: 2rem;
    }

     .div-preguntas{
        flex-direction: column;
        align-items: flex-start;
    }

    .div-preguntas-p{
        margin-left: 0;
        width: auto;
    }

    .div-preguntas-icono{
        margin-bottom: 1rem;
        justify-self: start;
        text-align: left;
    }


    /*-----------  CONTACTO   ------------*/

    .contact-form{
        width: 100%;
        padding: 2rem 0;
        background: linear-gradient(to bottom, #fce0e6, #dfb0b9);
        box-shadow: .1rem .1rem .3em .1rem #c27b8983;
        justify-content: center;
        border-radius: 1.5rem;
    }

    .contact-form-div{
        flex-direction: column;
    }

    .contact-form__input{
        width: 90%;
        height: .6rem;
    }

    .contact-form__textarea{
        height: 15rem;
        width: 90%;
    }

    .contact-form__submit{
        width: 10em;
    }

    .container-contact-data{
        margin: 1rem;
        width: 90%;
    }

    .container-contact-data__location{
        width: 90%;
    }

    .container-contact-data__location-img{
        width: 100%;
    }

    .container-contact-data__socialmedia{
       margin: 0;
       width: 100%;
    }

}








/*-----------   ESCRITORIO   ------------*/


@media screen and (min-width: 1024px) {
    
    /*-----------   GENERALES   ------------*/ 

    .h1{
        font-size: 4em;
        font-weight: bold;
        padding: 3rem 2rem 2rem 10rem;
        margin: 0;
    }

    .subir-shop::after,.subir-shop::before{
        content: "";
        position: absolute;
        width: 30em;
        height: 3px;
        background-color: map-get($map: $colores, $key: "logo");
        top: 2em;
    }
    
    .subir-shop::before{
        left: 5em;
    }
    
    .subir-shop::after{
        right: 5em;
    }

    .resaltado{
        padding: 0px 5px;
        background: linear-gradient(0deg, map-get($map: $colores, $key: "logo") 40%, transparent 40%);
    } 

    /*-----------   HEADER   ------------*/ 

    .nav-desktop{
        display: block;
        width: 100%;
    }

    .nav-mobile{
        display: none;
    }

    .nav{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin: 0;
        padding: 0%;
    }
    
    .logo-index img{
        margin-left: 1rem;
    }

    .nav__ul {
        @include flex (flex, row, wrap, center);
        align-items: center;
    }

    .header-right{
        display: flex;
        justify-content:end;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0%;
        nav ul li a{
            margin: 0 1rem;
            padding: 0%;
            padding-bottom: 10px;
        }
    }

    .home-barra{
        font-size: 14px;
        margin: 0;
        padding-top: .5em;
    }

    /*-----------  FOOTER   ------------*/

    .footer{
       @include flex (flex, row, nowrap, space-between);
        align-items: flex-start;
        padding: 0 2rem;
        ul{
            border: none;
            text-align: start;
        }
    }

    .footer__ul-li-a:hover{
        text-decoration: underline;
        color: map-get($map: $colores, $key: "rosaClaro");
    }
    
    .footer__ul-contacto li{
        text-align: center;
    }
    
    .footer-copyright{
        @include flex (flex, row, wrap, space-evenly);
        span{
            vertical-align: middle;
        }    
    }

    /*-----------  SHOP   ------------*/

    .filter__h3{
        font-size: 20px;
        padding: 2rem 0 0 2rem;
        margin: 0;
        width: 100%;
    }

    .filter__ul{
        width: 90%;
        margin: 2em 0 2em 4em;
        display: inline-block;
    }

    .filter__ul-li-a{
        display: inline-block;
        margin: 0 0.3em;
    }

    /* .shop-categorias__div{
        justify-content: left;
    } */

    .shop-categorias__h2{
        width: 100%;
        padding: 0 0 1rem 2rem;
        margin: 0;
    }

    .shop-categorias__article{
        width: 25rem;
        height: 42rem;
        margin-left: 2rem;
    }

    .shop-categorias__article-figure{
        height: 100%;
    }

    .shop-categorias__article-figure-img{
        width: 100%;
        height: 85%;
        object-fit: cover;
    }
    
    .shop-categorias__article-figure-figcaption{
        font-size: 16px;
    }
    


    /*-----------  BLOG   ------------*/


    .h3-subtitulo-blog{
        text-align: center;
        margin-left: 5em;
        font-size: 20px;
    }

    /* .blog-grid{
        display: grid;
        grid-template-areas:
        "posts entradas"
        "posts productos";
        width: 100%;
    } */
    
    /* .blog-posts{
        grid-area: posts;
        width: auto;
    } */
    
    /* .blog-entradas{
        grid-area: entradas;
    }
    
    .blog-productosRecomendados{
        grid-area: productos;
    } */

    .blog-entradas, .blog-productosRecomendados{
        border: .15em solid map-get($map: $colores, $key: "texto");
        margin: 1em 0 1em 2em;
        padding: .5em;
    }

    .blog-entradas{
        width: auto;
    }

    .blog-productosRecomendados{
        width: auto;
    }

    .blog-posts__article{
        display: flex; 
        flex-direction: row;
        /* width: auto;
        height: auto; */
        /* margin: 2em; */
        padding: 1em;
        border: .15em solid map-get($map: $colores, $key: "texto");
    }
   
    .blog-posts__divImg{
        height: auto;
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
        object-fit: cover;
    }
    
    .blog-posts__article-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: inline-block;
    }
    
    .blog-posts__divTexto{
        height: auto;
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: auto;
    }

    .blog-posts__article-p{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2rem;
        padding: 0;
    }
    
    .blog-posts__article-h4{
        text-decoration: none;
        font-size: 24px;
    }

    .blog-entradas__article-a-figure-img{
        width: 4em;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 1em;
        display: inline-block;
    }
    
    .blog-entradas__article{
        border: rgb(52, 30, 35) solid .1em;
        margin: .5em;
    }

    .blog-entradas__article-a-figure{
        display: flex;
        flex-direction: row;
        margin: .3em;
        height: 4em;
        align-items: center;
        border: none;
    }

    .blog-grid__h2{
        margin: .5em .5em 1em .5em;
    }


    .blog-productosRecomendados__article{
        width: 90%;
        height: auto;
    }


    /*-----------  PREGUNTAS FRECUENTES   ------------*/

    .div-preguntas{
        flex-direction: row;
        align-items: center;
    }

    .div-preguntas-p{
        margin-left: 2em;
        /* width: 70%; */
    }



    /*-----------  CONTACTO   ------------*/
    
    .contact-form{
        width: 85%;
        padding: 4rem 0;
        background: linear-gradient(to right, #fce0e6, #dfb0b9);
        box-shadow: .1rem .1rem 1rem .1rem #c27b8983;
        justify-content: center;
        border-radius: 3rem;
        transition: 1s;
    }

    .contact-form:hover{
        width: 100%;
    }

    .contact-form-div{
        flex-direction: row;
    }

    .contact-form-div-input{
        @include flex (flex, column, wrap, space-between);
    }

    .contact-form__input{
        width: 30rem;
    }

    .contact-form__textarea{
        /* height: 20rem; */
        width: 95%;
    }

    .contact-form__submit{
        width: 18em;
    }

    .container-contact-data{
        width: 95%;
    }

    .container-contact-data__location{
        width: 95%;
    }

    .container-contact-data__location-img{
        width: 40%;
    }

}