/* ---------- PALETA DE COLORES ----------*/

/*
Botones y logos: #EA869A
NAV, rosa intermedio: #FFCBD7
Fondo cremita: #FDF4E8 / #fbf9f7
Rosita semiclaro, fuente NAV y filtros: #F8EBEC
Bordes: #B77D8B
Cuerpo de texto: #341E23
Fondo rosita: #FFF7F7
*/

/*-----------   FUENTE LOCAL  ------------*/

@font-face{
    font-family: "Brittany Signature";
    src: url(BrittanySignature.ttf);
}

/*-----------   UNIVERSAL   ------------*/

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*-----------   GENERALES   ------------*/

body{
    background-color: #fbf9f7;
    font-family: "montserrat", "roboto", sans-serif;
    color: #341E23;
}

.h1, .h1-circe{
    font-family: "brittany signature";
    color: #EA869A;
}

.h1-none{
    display: none;
}

.material-icons-round{
    color: #EA869A;    
}

.home-info__article span{
    font-size: 3em;
}

.resaltado{
    padding: 0px 5px;
    background: linear-gradient(0deg, #EA869A 40%, transparent 40%);
} 


/*-----------   HEADER   ------------*/

#header{
    background-color: #FFCBD7;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}


.logo-index img{
    width: 6rem;
    object-fit: cover;
    object-position: center center;
}


.header-left .nav__ul-li-a{
    color: #F8EBEC;
    text-decoration: none;
    margin: 0 .5em;
    padding: 10px 15px;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
}

.nav__ul-li-a:hover{
    color: #F8EBEC;
}

.nav__ul-li-a::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #F8EBEC;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: 0.7s;
    will-change: width;
}

.nav__ul-li-a:hover::after{
    width: 100%;
    right: 0;
}

.nav__ul-li-a-active{
    position: relative;
}

.nav__ul-li-a-active a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F8EBEC;
    bottom: 0;
    left: 0;
}

.nav__ul-li-shop{
    position: relative;
    top: 1rem;
}

 .nav__ul-li-shop:hover{
    position:absolute;
    top: 2.5rem;
} 

.nav__ul-li-submenu{
    display: none; 
    position: absolute;
    background-color:rgb(255, 203, 215, .95);
    padding: 3em 5em 5em 2em;
    z-index: 10;
}

.nav__ul-li-submenu a{
    color: #341E23;
    text-decoration: none;
}
.nav__ul-li-submenu a:hover{
    text-decoration: underline;
}

.nav__ul-li-shop:hover ul{
    position:static;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.nav__ul-li-container-submenu{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* position: absolute; */
} 

/* .nav__ul-li-submenu:hover{
    position: initial;
} */

.nav__ul-li-shop:hover .linea-submenu{
    position: absolute;
    width: 95%;
    top: 6.2rem;
    border: 0;
    border-bottom:#F8EBEC solid .2rem;
    z-index: 20;
}

.nav__ul-li-submenu li:first-child{
    padding-bottom: 1.5em;
    text-transform: uppercase;
}


#header input{
    padding: 1em;
    border: none;
    background-color: transparent;
    color: #F8EBEC;
    display: none;
}

.nav__ul-li span{
    font-size: 2em;
}

.header-right .material-icons-round:hover{
    color: #F8EBEC;
}

.home-barra{
    text-align: center;
    padding: 0.5em;
    background-color: #EA869A;
    text-transform: uppercase;
    margin: 0%;
}





/*-----------   HOME   ------------*/

.slider-container{
    width: 100%;
    position: relative;
    margin: 0%;
    padding: 0%;
}

.slider-container img{
    width: 100%;
}

.slider-02,
.slider-03,
.slider-01{
    display: none;
}


/*-----------   HOME - CATEGORIAS   ------------*/

.home-categorias__article-img{
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.home-categorias__article-img:hover{
    transform: scale(1.05);
}

.home-categorias__article-a{
    color: #F8EBEC;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #EA869A;
    padding: .8em 2em;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: .1em .1em .1em #341E23;
}

.home-categorias__article-a:hover{
    background-color:#FFCBD7;
    color:#341E23;
}

/* .home-categorias{
    display: flex;
    flex-wrap: wrap;
} */

.home-categorias__article{
    position: relative;
    overflow: hidden;
}


/*-----------  HOME - BLOG   ------------*/

.home-blog{
    background-color:#FFCBD7;
    padding: 1em;
}

.home-blog__h2{
    font-family: "brittany signature";
    font-weight: bold;
    text-align: center;
    display: block;
    background-color: #FFCBD7;
    letter-spacing: .1em;
    word-spacing: .5em;
    margin: 2rem 0;
}

.home-blog__div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.home-blog__article{
    margin: 1rem;
    padding: 1rem;
    border: #FFF7F7 solid 0.3rem;
    background-color: #FFF7F7;
}

.home-blog__article-a{
    color: #341E23;
    text-decoration: none;
}

.home-blog__article-a:hover{
    text-decoration: underline;
    color: #341E23;
}

.home-blog span:hover{
    transform: scale(1.05);
}

/*-----------  HOME - PRODUCTOS DESTACADOS   ------------*/

.home-productosDestacados__h2{
    font-family: "brittany signature";
    font-size: 40px;
    text-align: center;
    margin-top: 5rem;
    letter-spacing: .1em;
    word-spacing: .5em;
    font-weight: bold;
}

.home-productosDestacados{
    width: 100%;
}

.home-productosDestacados__section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-productosDestacados__article{
    height: auto;
    margin: 1rem;
    text-align: center;
    background-color: #FFF7F7;
    box-shadow: .1rem .1rem .2rem silver;
}

.home-productosDestacados__article:hover{
    box-shadow: .1rem .1rem 1rem silver;
}

.home-productosDestacados__article-figure-img{
    width: 100%;
}

.home-productosDestacados__article-figure-figcaption{
    margin: 0.3em;
    line-height: 2em;
}

.home-productosDestacados__article a{
    color: #341E23;
    text-decoration: none;
}

.home-productosDestacados__article a:hover{
    text-decoration: underline;
}


/*-----------  HOME - INFO   ------------*/

.home-info{
    background-color: #ffeff3;
}



/*-----------   FOOTER   ------------*/

footer{
    bottom: 0;
}

.footer{
    background-color: #FFCBD7;
    padding: 1em 5em;
    color: #F8EBEC;
}

.footer__ul-li-a{
    color: #F8EBEC;
    text-decoration: none;
}

.footer__ul-contacto-redes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.footer-copyright{
    background-color: #EA869A;
    padding: 0.5em;
    font-size: 12px;
    text-align: center;
}

.footer__ul-contacto-redes img{
    width: 1.4rem;
}


.footer-copyright span{
    color: #341E23;
    font-size: 16px;
}




/*-----------   SHOP   ------------*/


.filter__h3{
    margin-top: 1.5rem;
    margin-left: 3rem;
}


.filter__ul-li{
    display: inline;   
}

.filter__ul-li-a{
    color:#EA869A;
    background-color: #F8EBEC;
    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: .5em 1em;
    transition: .5s;
}

.filter__ul-li-a:hover{
    background-color:#EA869A;
    color: #F8EBEC;
}

/* .shop-categorias__div{
    display: flex; 
    justify-content: left;
    flex-wrap: wrap;
} */

.shop-categorias__h2{
    font-size: 35px;
    font-family: "brittany signature";
    text-align: start;
    width: 100%;
    margin: 0;
    padding: 0;
}

.shop-categorias__article{
    margin: 1rem 0;
    padding-bottom: 1.5rem;
    text-align: center;
    background-color: #FFF7F7;
    box-shadow: .1rem .1rem .2rem silver;
}

.shop-categorias__article:hover{
    box-shadow: .1rem .1rem 1rem silver;
}

.shop-categorias__article-figure-figcaption{
    margin: 0.3em;
    line-height: 2em;
}

.shop-categorias{
    text-align: center;
}

.subir-shop{
    color: #341E23;
    text-decoration: none;
    padding: 1em 2em;
    margin: 0;
    display: inline-block;
    position: relative;
}

.subir-shop:hover{
    text-decoration: underline;
    color: #EA869A;
}

.shop-categorias span{
    margin-right: .4em;
}



/*-----------   BLOG   ------------*/


.blog-posts__article{
    margin: 2em;
    padding: 1em;
    border: .2em solid #341E23;
    display: flex;
}

.blog-posts__divTexto{
    display: flex;
    flex-direction: column;
}

.blog-posts__article-h4{
    font-size: 24px;
}

.textoOculto{
    display: none;
}

.blog-posts__article-a{
    color: #341E23;
    text-decoration: none;
}

.blog-posts__article-a:hover{
    text-decoration: underline;
}

.blog-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "posts entradas"
    "posts productos";
}

.blog-posts{
    grid-area: posts;
}

.blog-entradas{
    grid-area: entradas;
}

.blog-productosRecomendados{
    grid-area: productos;
}


.blog-grid__h2{
    text-align: center;
    font-size: 20px;
}

.blog-entradas__article-a{
    text-decoration: none;
    color: #341E23;
}

.blog-entradas__article-a:hover{
    text-decoration: underline;
}

.blog-entradas__article-a-figcaption{
    font-size: 13px;
}

.blog-productosRecomendados__article{
    height: auto;
    margin: 1rem;
    text-align: center;
    background-color: #FFF7F7;
    box-shadow: .1rem .1rem .2rem silver;
}

.blog-productosRecomendados__article:hover{
    box-shadow: .1rem .1rem 1rem silver;
}

.blog-productosRecomendados__article-figure-img{
    width: 100%;
}

.blog-productosRecomendados__article-figure-figcaption{
    margin: 0.3em;
    line-height: 2em;
}

.blog-productosRecomendados__article a{
    color: #341E23;
    text-decoration: none;
}

.blog-productosRecomendados__article a:hover{
    text-decoration: underline;
}

.subir-shop-div{
    text-align: center;
}




/*-----------   PREGUNTAS FRECUENTES   ------------*/

.container-preguntas{
    margin: 2em 5em;
}

.div-preguntas{
    display: flex;
    margin-top: 2em;
}

.div-preguntas-icono span{
    font-size: 35px;
}

.div-preguntas-p{
    line-height: 1.5em;
}

.preguntas-importante{
    font-style: italic;
}



/*-----------   CONTACTO   ------------*/


.container-contact-form{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.contact-form__input, .contact-form__textarea{
    border: #F8EBEC solid 0.1em;
    background-color: transparent;
    color: #341E23;
    margin: 1em;
    padding: 1em;
    font-size: 16px;
    font-family: "montserrat", "roboto", sans-serif;
    display: block;
    outline: none;
}

.contact-form__textarea{
    overflow: auto;
    resize: none;
}

.contact-form__input:focus, .contact-form__textarea:focus{
    border:#fbdbde solid 0.1em;
}

.contact-form__input:hover, .contact-form__textarea:hover{
    border:#fbdbde solid 0.1em;
}

.contact-form__input::placeholder, .contact-form__textarea::placeholder{
    color:#341e23b4;
}

.contact-form__submit{
    background-color: #F8EBEC;
    color: #EA869A;
    border-radius: .7em;
    border: none;
    margin-top: 1.5em;
    padding: .1em;
    font-family: "brittany signature";
    font-size: 20px;
    transition: .5s;
    box-shadow: .1rem .1rem .1rem .1rem rgb(249, 217, 217);
}

.contact-form__submit:hover{
    cursor: pointer;
    background-color:#fbdbde;
}

.contact-form-div{
    display: flex;
    justify-content: center;
}

.contact-form:last-child{
    text-align: center;
} 

.container-contact-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    align-items: center;
}

.container-contact-data__location-img{
    border: #EA869A solid .1rem;
    margin: 1rem 0;
}

.container-contact-data__socialmedia{
    margin: 2rem 0;
}

.container-contact-data__socialmedia p{
    margin-top: 2rem;
} 

.container-contact-data__socialmedia .material-icons-round{
    vertical-align: middle;
}

.container-contact-data__socialmedia-ul-li{
    display: inline-block;
    margin: 2rem 1rem;
}

.container-contact-data__socialmedia-ul-li img{
    width: 1.5rem;
    vertical-align: middle;
}







/*-----------   MOBILE   ------------*/


@media screen and (min-width: 320px) {

    /*-----------   GENERALES   ------------*/ 

    .h1-circe{
        position: absolute;
        left: 12%;
        top: 35%;
        margin: 0;
        font-size: 50px;
    }

    .h1{
        font-size: 46px;
        margin: 1.5rem;
    }

    .subir-shop::after,.subir-shop::before{
        content: "";
        position: absolute;
        width: 6em;
        height: 3px;
        background-color: #EA869A;
        top: 2em;
    }
    
    .subir-shop::before{
        left: 3.5em;
    }
    
    .subir-shop::after{
        right: 3.5em;
    }

    .resaltado{
        padding: 0px 5px;
        background: linear-gradient(0deg, #EA869A 40%, transparent 40%);
    } 

    .slider-vacio-desktop{
        display: none;
    }

    .slider-vacio-mobile{
        display: block;
    }

    /*-----------   HEADER   ------------*/
 
    #menuBurger{
        display: block;
        align-self: center;
        margin-left: 1em;
    }

    .nav__ul{
        display: none;
    }

    .nav{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto;
    }

    .logo-index{
        justify-self: center;
    }

    .logo-index img{
        margin: 0;
    }

    .home-barra{
        font-size: 11px;
    }

    /*-----------   HOME - CATEGORIAS   ------------*/

    .home-categorias{
        margin: 1em 0;
        margin-top: .5em;
        /* flex-direction: column; */
    }

    .home-categorias__article{
        margin: .5em 0;
        padding: 1em;
        width: 100%;
    }

    /*-----------   HOME - BLOG   ------------*/

    .home-blog__h2{
        font-size: 18px;
    }

    .home-blog__article{
        margin: .4rem;
        height: 5.5rem;
    }

    .home-blog__article-a-figure{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 3rem;
        width: 19rem;
    }

    .home-blog__article-a-figure-img{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        object-fit: cover;
        border:#FFCBD7 solid .2rem ;
    }
    
    .home-blog__article-a-figcaption{
        padding-left: 2em;
        font-size: 14px;
        width: auto;
        text-align: start;
    }

    .home-blog span{
        margin-top: .4rem;
        width: 10em;
        padding: .5em;
        font-size: 2em;
        background: linear-gradient(#FFF7F7, #FFCBD7);
        text-align: center;
    }

    .blog-flecha-derecha{
        display: none;
    }

    .blog-flecha-abajo{
        display: inline-block;
    }

    /*-----------  HOME - PRODUCTOS DESTACADOS   ------------*/

    .home-productosDestacados__h2{
        font-size: 20px;
    }

    .home-productosDestacados__article{
        width: 10rem;
    }

    .home-productosDestacados__section{
        justify-content: left;
    }


    /*-----------  HOME - INFO   ------------*/

    .home-info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        margin: 1rem 0;
        padding: 0 1rem;
    }

    .home-info__article{
        margin: 0;
        padding: 1rem;
        border-top: solid #341E23 .1rem;
        border-left: none;
    }

    .home-info__article:first-child{
        border: none;
    }

    .home-info__article .material-icons-round{
        font-size: 26px;
    }

    .home-info__article h3{
        margin: .5rem;
        font-size: 14px;
    }

    .home-info__article p{
        font-size: 12px;
    }


    /*-----------  FOOTER   ------------*/

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 0;
    }

    .footer__ul{
        margin: 1em 0;
        padding-left: 0;
        padding-bottom: 2rem;
        width: 70%;
        border-bottom: #F8EBEC solid .15rem;
    }

    .footer__ul:last-child{
        border: none;
    }

    .footer-copyright{
        display: flex;
        flex-direction: column;
        align-content: space-around ;
    }

    .footer-copyright p{
        padding: .2rem 0;
    }

    .footer-copyright span{
        vertical-align: middle;
    }




    /*-----------  SHOP   ------------*/

    .filter__h3{
        font-size: 16px;
        margin-left: 1rem;
    }

    .filter__ul{
        width: 100%;
        margin: 1rem 0;
        padding-left: 0;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    .filter__ul-li{
        margin: 0;
        text-align: center;
    }

    .filter__ul-li-a{
        margin: .2rem;
        display: block;
    }

    /* .shop-categorias__div{
        width: 100%;
    } */

    .shop-categorias__h2{
        margin-left: 1rem;
    }

    .shop-categorias__article{
        width: auto;
        height: 18rem;
        margin: 1rem;
        margin-left: 1rem;
    }
   
    .shop-categorias__article-figure{
        height: 100%;
    }

    .shop-categorias__article-figure-img{
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .shop-categorias__article-figure-figcaption{
        font-size: 12px;
    }



    /*-----------  BLOG   ------------*/

    .h3-subtitulo-blog{
        text-align: center;
        margin: 0;
        font-size: 14px;
    }

    .blog-grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "entradas"
        "posts"
        "productos";
    }
    
    .blog-posts{
        grid-area: posts;
        width: 100%;
    }
    
    .blog-entradas{
        grid-area: entradas;
    }
    
    .blog-productosRecomendados{
        grid-area: productos;
    }

    .blog-entradas, .blog-productosRecomendados{
        border: none;
        margin: 1em;
        padding: .5em;
        width: 80%;
    }

    .blog-posts__article{
        flex-direction: column;
        margin: 1em;
        padding: 1em;
        border: .1em solid #341E23;
        display: inline-block;
    }

    .blog-entradas__article-a-figure-img{
        display: none;
    }
    
    .blog-entradas__article{
        border: none;
    }

    .blog-entradas__article-a-figure{
        display: inline-block;
        margin: .3em;
        height: 1em;
        align-items: start;
        border-bottom: #C27B89 solid 0.1em;
    }
    
    .blog-posts__divTexto{
        margin-left: 0;
        display: inline-block;        
    }
    
    .blog-posts__divImg{
        height: 15em;
        margin-bottom: 1em;
    }
    
    .blog-posts__article-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: inline-block;
    }
    
    .blog-posts__article-h4{
        font-size: 16px;
        text-decoration: underline;
    }
    
    .blog-posts__article-p{
        padding: 0;
        margin: 1em 0;
    }

    .blog-grid__h2{
        margin: 0;
        text-align: center;
    }
    
    .blog-productosRecomendados{
        width: 90%;
    }
    
    .blog-productosRecomendados__article{
        width: 70%;
    }



     /*-----------  PREGUNTAS FRECUENTES   ------------*/


     .container-preguntas{
        margin: 2rem;
    }

     .div-preguntas{
        flex-direction: column;
        align-items: flex-start;
    }

    .div-preguntas-p{
        margin-left: 0;
        width: auto;
    }

    .div-preguntas-icono{
        margin-bottom: 1rem;
        justify-self: start;
        text-align: left;
    }


    /*-----------  CONTACTO   ------------*/

    .contact-form{
        width: 100%;
        padding: 2rem 0;
        background: linear-gradient(to bottom, #fce0e6, #dfb0b9);
        box-shadow: .1rem .1rem .3em .1rem #c27b8983;
        justify-content: center;
        border-radius: 1.5rem;
    }

    .contact-form-div{
        flex-direction: column;
    }

    .contact-form__input{
        width: 15rem;
        height: .6rem;
    }

    .contact-form__textarea{
        height: 15rem;
    }

    .contact-form__submit{
        width: 10em;
    }

    .container-contact-data{
        margin: 1rem;
        width: 90%;
    }

    .container-contact-data__location{
        width: 90%;
    }

    .container-contact-data__location-img{
        width: 100%;
    }

    .container-contact-data__socialmedia{
       margin: 0;
       width: 100%;
    }

}








/*-----------   ESCRITORIO   ------------*/


@media screen and (min-width: 1024px) {
    
    /*-----------   GENERALES   ------------*/ 

    .h1-circe{
        position: absolute;
        left: 30%;
        top: 40%;
        margin: 0;
        font-size: 110px;
    }

    .h1{
        font-size: 4em;
        margin: 2rem 2rem 2rem 10rem;
    }

    .subir-shop::after,.subir-shop::before{
        content: "";
        position: absolute;
        width: 30em;
        height: 3px;
        background-color: #EA869A;
        top: 2em;
    }
    
    .subir-shop::before{
        left: 5em;
    }
    
    .subir-shop::after{
        right: 5em;
    }

    .resaltado{
        padding: 0px 5px;
        background: linear-gradient(0deg, #EA869A 40%, transparent 40%);
    } 

    .slider-vacio-desktop{
        display: block;
    }

    .slider-vacio-mobile{
        display: none;
    }

    /*-----------   HEADER   ------------*/ 

    #menuBurger{
        display: none;
    }

    .nav{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin: 0;
        padding: 0%;
    }
    
    .logo-index img{
        margin-left: 1rem;
    }

    .nav__ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .header-right{
        display: flex;
        justify-content:end;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0%;
    }

    .header-right .nav__ul-li-a{
        margin: 0 1rem;
        padding: 0%;
        padding-bottom: 10px;
    }

    .home-barra{
        font-size: 14px;
        margin: 0;
    }


    /*-----------   HOME - CATEGORIAS   ------------*/

    /* .home-categorias{
        margin: 2em 1em;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .home-categorias__article{
        margin: 1em;
        width: 30%;
    }  */

    /*-----------   HOME - BLOG   ------------*/

    .home-blog__div{
        padding: 0;
        margin: 0;
    }

    .home-blog__h2{
        font-size: 40px;
    }

    .home-blog__article{
        margin: .2rem;
        padding: .5rem;
        height: 21.5em;
        width: 14rem;
        justify-content: center;
    }

    .home-blog__article-a{
        justify-content: center;
    }

    .home-blog__article-a-figure{
        display: block;
        width: 100%;
        height: 16em;
    }
    
    .home-blog__article-a-figure-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0%;
        border: none;
    }

    .home-blog__article-a-figcaption{
        margin-top: .5em;
        padding-left: 0;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    
    .home-blog span{
        height: 100%;
        width: 2em;
        padding: 8rem .5rem;
        font-size: 2em;
        background: linear-gradient(to right,  #FFF7F7, #FFCBD7);
        transition: 1s;
    }

    .blog-flecha-derecha{
        display: block;
    }

    .blog-flecha-abajo{
        display: none;
    }


    /*-----------  HOME - PRODUCTOS DESTACADOS   ------------*/

    .home-productosDestacados__h2{
        font-size: 40px;
    }

    .home-productosDestacados__section{
        justify-content: center;
    }

    .home-productosDestacados__article{
        width: 14rem;
    }


    /*-----------  HOME - INFO   ------------*/

    .home-info{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 5rem;
    }

    .home-info__article{
        margin: 1em;
        /* padding: .1rem 0 .1rem 6rem; */
        border-left: solid #341E23 0.1rem;
        border-top: none;
    }

    .home-info__article:first-child{
        border: none;
        /* padding-left: 1rem; */
    }

    .home-info__article h3{
        margin: 1em;
        font-size: 16px;
    }

    .home-info__article .material-icons-round{
        font-size: 30px;
    }

    .home-info__article p{
        font-size: 14px;
    }
    

    /*-----------  FOOTER   ------------*/

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 2rem;
    }

    .footer__ul{
        border: none;
        text-align: start;
    }

    .footer__ul-li-a:hover{
        text-decoration: underline;
        color: #F8EBEC;
    }
    
    .footer__ul-contacto{
        text-align: center;
    }
    
    .footer-copyright{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-copyright span{
        vertical-align: middle;
    }


    /*-----------  SHOP   ------------*/

    .filter__h3{
        font-size: 20px;
        padding: 2rem 0 0 2rem;
        margin: 0;
        width: 100%;
    }

    .filter__ul{
        width: 90%;
        margin: 2em 0 2em 4em;
        display: inline-block;
    }

    .filter__ul-li-a{
        display: inline-block;
        margin: 0 0.3em;
    }

    /* .shop-categorias__div{
        justify-content: left;
    } */

    .shop-categorias__h2{
        width: 100%;
        padding: 0 0 1rem 2rem;
        margin: 0;
    }

    .shop-categorias__article{
        width: 20rem;
        height: 32rem;
        margin-left: 2rem;
    }

    .shop-categorias__article-figure{
        height: 100%;
    }

    .shop-categorias__article-figure-img{
        width: 100%;
        height: 85%;
        object-fit: cover;
    }
    
    .shop-categorias__article-figure-figcaption{
        font-size: 16px;
    }
    


    /*-----------  BLOG   ------------*/


    .h3-subtitulo-blog{
        text-align: center;
        margin-left: 5em;
        font-size: 20px;
    }

    .blog-grid{
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto auto;
        grid-template-areas:
        "posts entradas"
        "posts productos";
        width: 100%;
    }
    
    .blog-posts{
        grid-area: posts;
        width: auto;
    }
    
    .blog-entradas{
        grid-area: entradas;
    }
    
    .blog-productosRecomendados{
        grid-area: productos;
    }

    .blog-entradas, .blog-productosRecomendados{
        border: .15em solid #341E23;
        margin: 2em 2em 1em 2em;
        padding: .5em;
        width: auto;
    }

    .blog-posts__article{
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        margin: 2em;
        padding: 1em;
        border: .15em solid #341E23;
    }
   
    .blog-posts__divImg{
        height: auto;
        width: 30rem;
        margin: 0;
        object-fit: cover;
    }
    
    .blog-posts__article-img{
        height: auto;
        width: 15rem;
        object-fit: cover;
        display: inline-block;
    }
    
    .blog-posts__divTexto{
        height: auto;
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .blog-posts__article-p{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2rem;
        padding: 0;
    }
    
    .blog-posts__article-h4{
        text-decoration: none;
        font-size: 24px;
    }

    .blog-entradas__article-a-figure-img{
        width: 4em;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 1em;
        display: inline-block;
    }
    
    .blog-entradas__article{
        border: rgb(52, 30, 35) solid .1em;
        margin: .5em;
    }

    .blog-entradas__article-a-figure{
        display: flex;
        flex-direction: row;
        margin: .3em;
        height: 4em;
        align-items: center;
        border: none;
    }

    .blog-grid__h2{
        margin: .5em .5em 1em .5em;
    }

    .blog-productosRecomendados__article{
        width: 90%;
    }

    .blog-productosRecomendados__article-figure-img{
        width: 100%;
    }




    /*-----------  PREGUNTAS FRECUENTES   ------------*/

    .div-preguntas{
        flex-direction: row;
        align-items: center;
    }

    .div-preguntas-p{
        margin-left: 2em;
        width: 70%;
    }



    /*-----------  CONTACTO   ------------*/
    
    .contact-form{
        width: 85%;
        padding: 4rem 0;
        background: linear-gradient(to right, #fce0e6, #dfb0b9);
        box-shadow: .1rem .1rem 1rem .1rem #c27b8983;
        justify-content: center;
        border-radius: 3rem;
        transition: 1s;
    }

    .contact-form:hover{
        width: 95%;
    }

    .contact-form-div{
        flex-direction: row;
    }

    .contact-form-div-input{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact-form__input{
        width: 30rem;
    }

    .contact-form__textarea{
        height: 20rem;
        width: 40rem;
    }

    .contact-form__submit{
        width: 18em;
    }

    .container-contact-data{
        width: 95%;
    }

    .container-contact-data__location{
        width: 95%;
    }

    .container-contact-data__location-img{
        width: 40%;
    }


}


